<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- تعريف مجموعة الأقسام الخاصة بـ Razor View Engine -->
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <system.web.webPages.razor>
    <!-- تحديد المصنع المضيف لـ MVC Razor View Engine -->
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=5.2.7.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    <pages pageBaseType="System.Web.Mvc.WebViewPage">
      <namespaces>
        <!-- مساحات الأسماء الأساسية لـ MVC التي يجب أن تكون متاحة في جميع الـ Views -->
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.Optimization"/>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.WebPages" />
        <!-- مساحات الأسماء الخاصة بمشروعك لتمكين الوصول إلى النماذج (Models) و ViewModels -->
        <add namespace="LawyersSyndicatePortal" />
        <add namespace="LawyersSyndicatePortal.Models" />
        <add namespace="LawyersSyndicatePortal.ViewModels" />
        <!-- مساحات الأسماء الخاصة بـ ASP.NET Identity -->
        <add namespace="Microsoft.AspNet.Identity" />
        <add namespace="Microsoft.AspNet.Identity.Owin" />
        <add namespace="Microsoft.AspNet.Identity.EntityFramework" />
        <!-- مساحات أسماء إضافية شائعة الاستخدام في الـ Views -->
        <add namespace="System.Linq" />
        <add namespace="System.Collections.Generic" />
        <add namespace="System.Data.Entity" />
        <!-- إضافة مساحة الاسم الخاصة بالـ Controllers هنا -->
        <add namespace="LawyersSyndicatePortal.Controllers" />
 
        <!-- تأكد من إضافة مساحات الأسماء المخصصة لمشروعك هنا إذا كانت لديك أي مساحات أخرى تحتاجها في الـ Views -->
      </namespaces>
    </pages>
  </system.web.webPages.razor>

  <appSettings>
    <!-- تعطيل WebPages لضمان استخدام MVC بشكل صحيح -->
    <add key="webpages:Enabled" value="false" />
  </appSettings>

  <system.webServer>
    <handlers>
      <!-- إزالة أي معالجات سابقة لـ BlockViewHandler وإضافة معالج لمنع الوصول المباشر لملفات الـ Views -->
      <remove name="BlockViewHandler"/>
      <add name="BlockViewHandler" path="*" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler" />
    </handlers>
  </system.webServer>
</configuration>
